// Imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//Global default settings.
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  // The technique modifies the base font-size on the html using a percentage. This adjusts things so that 1em equals 10px, instead of the default 16px. To set the font-size to the equivalent of 14px, set it to 1.4em.
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

///Global variables
$backgroundColor: #d5d5d5;

body {
  background-color: $backgroundColor;
}

.container {
  max-width: 110rem;
  margin: 8rem auto;
}

.flex_container {
  display: flex;
}

.img_container {
  display: inline-flex;
  flex-wrap: wrap;
}

.img_small {
  width: 35rem;
  height: auto;
}

.img_large {
  width: 35rem;
  height: auto;
}